button.btn-success {
    padding: 10px 40px;
    font-size: 15px;
}

button.btn-success.font-bold {
    font-weight: bold;
}

.box-item {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 30px;
}

ul li:before {    
    font-family: 'FontAwesome';
    font-size: 20px;
    content: '\f058';
    margin:0 5px 0 -15px;
    color: green;
}

li {
    list-style-type: none;
}